services:
  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: unless-stopped
    ports:
      - 3000:3000
    networks:
      - proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # - dockhand_data:/app/data # Named volume
      - ./dockhand_data:/app/data # Bind mount
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dockhand.rule=Host(`dockhand.internal.devopsfoundry.com`)"
      - "traefik.http.routers.dockhand.entrypoints=https"
      - "traefik.http.routers.dockhand.tls.certresolver=cloudflare"
      - "traefik.http.routers.dockhand.middlewares=security-headers@file,internal-ip-whitelist@file"
      - "traefik.http.routers.dockhand.service=dockhand"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.dockhand.loadbalancer.server.port=3000"

networks:
  proxy:
    external: true
# volumes: # Named volume
#   dockhand_data:
